.ToDo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;
}

/* Стили кнопок*/
button {
	background-color: bisque;
	border: 2px solid rgb(233, 170, 34);
	text-align: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	border-radius: 6px;
	transition: background-color 0.1s ease-in-out;
	height: 40px;
	font-weight: 500;
}
button:hover {
	background-color: #f8d983;
}
button:active {
	background-color: rgb(243, 175, 93);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	transform: translateY(1px);
}
button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

button[type="submit"] {
	width: 15%;
}

button#choose {
	width: 100px;
	margin-bottom: 10px;
	font-size: 16px;
	color: rgb(160, 0, 0);
	font-weight: 600;
}

input#input {
	padding: 10px;
	width: 70%;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 6px;
}

form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.choose {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fff3e1;
	width: 50%;
	align-self: center;
	border: 2px solid rgb(250, 225, 140);
	border-radius: 10px;
}
p {
	background-color: #ffe6c1;
	width: 200px;
	height: 40px;
	border: 3px solid rgb(253, 224, 144);
	border-radius: 6px;
	font-weight: 600;
	text-align: center;
	line-height: 35px;
}
.chooseButtons {
	display: flex;
	gap: 20px;
	width: 200px;
	justify-content: center;
}
