.ToDo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.inputArea{
    display: flex;
    justify-content: center;
}
.extraButtons{
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 15px;
}

/*Стили тасков*/
ul{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px auto;
    list-style: none;
    width: 90%;
}

#trueTask{
    text-decoration: line-through;
    color: green;
}
#falseTask{
    color: red;
}
.singleTask{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 247, 216);
    border: 3px solid rgb(253, 224, 144);
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
}
.singleTask[hidden]{
    display: none !important;
}
li{
    margin-right: 50%;
}


/* Стили кнопок*/
    button {
        background-color: bisque;
        border: 2px solid rgb(233, 170, 34);
        text-align: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        cursor: pointer;
        border-radius: 6px;
        transition: background-color 0.1s ease-in-out;
    }
    button:hover {
        background-color: #f8d983;
    }
    button:active{
        background-color: rgb(243, 175, 93);
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        transform: translateY(1px);
    }
    button:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }
    button#false{
        background-color: rgb(167, 255, 167);
        border: 2px solid rgb(118, 255, 118);
    }
    .checkbox:hover{
        cursor: pointer;
    }
    button[type='submit']{
        width: 15%;
    }
    .checkbox{
        
    }

input[type="text"] {
    padding: 10px;
    width: 70%;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    }

.counters{
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(255, 211, 145);
    border-radius: 6px;
}
.singleCounter{
    padding: 5px;
    flex-grow: 1;
}